In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from datetime import datetime as dt

import sqlalchemy
# Import method to connect to database
from sqlalchemy import create_engine

# Import connection string from config.py to connect to postgresql
from config import conn_string

# Display settings
pd.options.display.max_colwidth = 250

### First Dataset - downloaded as csv (from City of Chicago Food Inspections website)

In [2]:
# First dataset was downloaded as csv - read into DataFrame
past_data_csv_df = pd.read_csv("Resources/Food_Inspections_past.csv")
past_data_csv_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279.0,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601.0,01/04/2010,Tag Removal,Pass,NaN,41.884586,-87.631010,"(41.88458626715456, -87.63101044588599)"
1,52234,Cafe 608,Cafe 608,2013328.0,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657.0,01/04/2010,License Re-Inspection,Pass,NaN,41.938007,-87.644755,"(41.938006880423615, -87.6447545707008)"
2,70269,mr.daniel's,mr.daniel's,1899292.0,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634.0,01/04/2010,License Re-Inspection,Pass,NaN,41.938443,-87.768318,"(41.93844282365204, -87.76831838068422)"
3,67733,WOLCOTT'S,TROQUET,1992040.0,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613.0,01/04/2010,License Re-Inspection,Pass,NaN,41.961606,-87.675967,"(41.961605669949854, -87.67596676683779)"
4,104236,TEMPO CAFE,TEMPO CAFE,80916.0,Restaurant,Risk 1 (High),6 E CHESTNUT ST,CHICAGO,IL,60611.0,01/04/2010,Canvass,Fail,"18. NO EVIDENCE OF RODENT OR INSECT OUTER OPENINGS PROTECTED/RODENT PROOFED, A WRITTEN LOG SHALL BE MAINTAINED AVAILABLE TO THE INSPECTORS - Comments: All necessary control measures shall be used to effectively minimize or eliminate the presence ...",41.898431,-87.628009,"(41.89843137207629, -87.6280091630558)"

In [3]:
# Drop unwanted columns (violations is dropped due to its huge description text)
past_data_csv_df= past_data_csv_df.drop(columns=['Latitude', 'Longitude', 'Location', 'Violations'])

In [4]:
# Rename columns
past_data_renamed = past_data_csv_df.rename(columns={'Inspection ID':'inspection_id',
    'DBA Name' : 'business_name',
    'AKA Name' : 'aka_name',
    'License #' : 'license_id',
    'Facility Type' : 'facility_type',
    'Risk' : 'risk',
    'Address' : 'address',
    'City' : 'city',
    'State' : 'state_id',
    'Zip': 'zip',
    'Inspection Date' : 'inspection_date',
    'Inspection Type' : 'inspection_type',
    'Results': 'results'    
})

In [5]:
past_data_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172880 entries, 0 to 172879
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    172880 non-null  int64
 1   business_name    172880 non-null  object
 2   aka_name         170663 non-null  object
 3   license_id       172872 non-null  float64
 4   facility_type    168288 non-null  object
 5   risk             172819 non-null  object
 6   address          172880 non-null  object
 7   city             172787 non-null  object
 8   state_id         172858 non-null  object
 9   zip              172840 non-null  float64
 10  inspection_date  172880 non-null  object
 11  inspection_type  172879 non-null  object
 12  results          172880 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 17.1+ MB

In [6]:
# Change data types for some columns

# license_id and zip to INT - from info above, there are some missing values = convert Nan to 0
past_data_renamed['license_id'] = past_data_renamed['license_id'].replace(np.nan, 0)
past_data_renamed['license_id'] = past_data_renamed['license_id'].astype(np.int64)
past_data_renamed['zip'] = past_data_renamed['zip'].replace(np.nan, 0)
past_data_renamed['zip'] = past_data_renamed['zip'].astype(int)

# inspection_date is an object (string) in USA date format - change to datetime ISO format
# 2 step process to get just date portion and change data type
past_data_renamed['inspection_date'] = pd.to_datetime(past_data_renamed["inspection_date"]).dt.strftime('%m/%d/%Y')
past_data_renamed["inspection_date"] = pd.to_datetime(past_data_renamed["inspection_date"])

In [7]:
# Confirm data type change
past_data_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172880 entries, 0 to 172879
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    172880 non-null  int64
 1   business_name    172880 non-null  object
 2   aka_name         170663 non-null  object
 3   license_id       172880 non-null  int64
 4   facility_type    168288 non-null  object
 5   risk             172819 non-null  object
 6   address          172880 non-null  object
 7   city             172787 non-null  object
 8   state_id         172858 non-null  object
 9   zip              172880 non-null  int32
 10  inspection_date  172880 non-null  datetime64[ns]
 11  inspection_type  172879 non-null  object
 12  results          172880 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(2), object(9)
memory usage: 16.5+ MB

In [8]:
# Display df values and check data changes (date format and whether decimals have been dropped off INT columns)
past_data_renamed.head()

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results
0,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601,2010-01-04,Tag Removal,Pass
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass
3,67733,WOLCOTT'S,TROQUET,1992040,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass
4,104236,TEMPO CAFE,TEMPO CAFE,80916,Restaurant,Risk 1 (High),6 E CHESTNUT ST,CHICAGO,IL,60611,2010-01-04,Canvass,Fail

### Second Dataset retrieved from API call

In [9]:
# Get restaurant and inspection details from API
url = 'https://data.cityofchicago.org/resource/qizy-d2wf.json'
# url = 'https://data.cityofchicago.org/resource/puke-h9vk.json'  - this is 2010 - June 2018
response_2018_to_now = requests.get(url).json()

pprint(json.dumps(response_2018_to_now[1], indent=4, sort_keys=True))

('{\n'
 '    ":@computed_region_43wa_7qmu": "11",\n'
 '    ":@computed_region_6mkv_f3dw": "22620",\n'
 '    ":@computed_region_awaf_s7ux": "16",\n'
 '    ":@computed_region_bdys_3d7i": "109",\n'
 '    ":@computed_region_vrxf_vc4k": "25",\n'
 '    "address": "1731-1735 N ELSTON AVE ",\n'
 '    "aka_name": "CREATIVE SCHOLARS PRESCHOOL",\n'
 '    "city": "CHICAGO",\n'
 '    "dba_name": "CREATIVE SCHOLARS PRESCHOOL",\n'
 '    "facility_type": "Children\'s Services Facility",\n'
 '    "inspection_date": "2023-01-17T00:00:00.000",\n'
 '    "inspection_id": "2569739",\n'
 '    "inspection_type": "License",\n'
 '    "latitude": "41.9139251579717",\n'
 '    "license_": "2216013",\n'
 '    "location": {\n'
 '        "latitude": "41.9139251579717",\n'
 '        "longitude": "-87.66436839626788",\n'
 '        "needs_recoding": false\n'
 '    },\n'
 '    "longitude": "-87.66436839626788",\n'
 '    "results": "Pass",\n'
 '    "risk": "Risk 1 (High)",\n'
 '    "state": "IL",\n'
 '    "violations": "53. TOILET FACILITIES: PROPERLY CONSTRUCTED, SUPPLIED, & '
 'CLEANED - Comments: OBSERVED ONE UNISEX STAFF RESTROOM MISSING A COVERED '
 'TRASH RECEPTACLE. INSTRUCTED TO PROVIDE.",\n'
 '    "zip": "60622"\n'
 '}')

In [10]:
# Prepare Column Heading list
clist = ['address', 'aka_name', 'city', 'business_name', 'facility_type', 'inspection_date',         
        'inspection_id',  'inspection_type', 'license_id', 'results', 'risk', 'state_id', 'zip']

# Empty list to hold all data rows
data_rows = []

# Extract data from response and store in 
for x in response_2018_to_now:
    dlist = []
    dlist.append(x['address'])
    try:
        dlist.append(x['aka_name'])
    except KeyError:
        dlist.append(' ')
    try:
        dlist.append(x['city'])
    except KeyError:
        dlist.append(' ')
    dlist.append(x['dba_name'])
    try:
        dlist.append(x['facility_type'])
    except KeyError:
        dlist.append(' ')
    dlist.append(x['inspection_date'])
    dlist.append(x['inspection_id'])    
    dlist.append(x['inspection_type'])
    dlist.append(x['license_'])
    dlist.append(x['results'])
    dlist.append(x['risk']) 
    try:
        dlist.append(x['state'])
    except KeyError:
        dlist.append(' ')
    dlist.append(x['zip'])    
       
    data_rows.append(dlist)

In [11]:
# Create a dataframe with data_rows and column header list
df = pd.DataFrame(data_rows, columns=clist)
df.head()

,address,aka_name,city,business_name,facility_type,inspection_date,inspection_id,inspection_type,license_id,results,risk,state_id,zip
0,2324 W GIDDINGS ST,PACIUGO CHICAGO,CHICAGO,PACIUGO CHICAGO,Mobile Food Dispenser,2023-01-17T00:00:00.000,2569731,Canvass,2240574,Out of Business,Risk 3 (Low),IL,60625
1,1731-1735 N ELSTON AVE,CREATIVE SCHOLARS PRESCHOOL,CHICAGO,CREATIVE SCHOLARS PRESCHOOL,Children's Services Facility,2023-01-17T00:00:00.000,2569739,License,2216013,Pass,Risk 1 (High),IL,60622
2,54 N Hermitage Ave,WILLIAM BROWN ELEMENTARY SCHOOL,CHICAGO,WILLIAM BROWN ELEMENTARY SCHOOL,School,2023-01-13T00:00:00.000,2569645,Canvass,22351,Pass,Risk 1 (High),IL,60612
3,4925 N BROADWAY,THAI PASTRY,CHICAGO,THAI PASTRY,Restaurant,2023-01-13T00:00:00.000,2569682,Canvass,2713340,Pass,Risk 1 (High),IL,60640
4,1049 W TAYLOR ST,THAI BOWL,CHICAGO,THAI BOWL,Restaurant,2023-01-13T00:00:00.000,2569690,Canvass Re-Inspection,54665,Pass,Risk 1 (High),IL,60607

In [12]:
# Reorder columns
df = df[['inspection_id', 'business_name', 'aka_name', 'license_id', 'facility_type', 'risk', 'address', 'city',
        'state_id', 'zip', 'inspection_date', 'inspection_type', 'results']]
df.head()

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results
0,2569731,PACIUGO CHICAGO,PACIUGO CHICAGO,2240574,Mobile Food Dispenser,Risk 3 (Low),2324 W GIDDINGS ST,CHICAGO,IL,60625,2023-01-17T00:00:00.000,Canvass,Out of Business
1,2569739,CREATIVE SCHOLARS PRESCHOOL,CREATIVE SCHOLARS PRESCHOOL,2216013,Children's Services Facility,Risk 1 (High),1731-1735 N ELSTON AVE,CHICAGO,IL,60622,2023-01-17T00:00:00.000,License,Pass
2,2569645,WILLIAM BROWN ELEMENTARY SCHOOL,WILLIAM BROWN ELEMENTARY SCHOOL,22351,School,Risk 1 (High),54 N Hermitage Ave,CHICAGO,IL,60612,2023-01-13T00:00:00.000,Canvass,Pass
3,2569682,THAI PASTRY,THAI PASTRY,2713340,Restaurant,Risk 1 (High),4925 N BROADWAY,CHICAGO,IL,60640,2023-01-13T00:00:00.000,Canvass,Pass
4,2569690,THAI BOWL,THAI BOWL,54665,Restaurant,Risk 1 (High),1049 W TAYLOR ST,CHICAGO,IL,60607,2023-01-13T00:00:00.000,Canvass Re-Inspection,Pass

In [13]:
# Get column Data Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   inspection_id    1000 non-null   object
 1   business_name    1000 non-null   object
 2   aka_name         1000 non-null   object
 3   license_id       1000 non-null   object
 4   facility_type    1000 non-null   object
 5   risk             1000 non-null   object
 6   address          1000 non-null   object
 7   city             1000 non-null   object
 8   state_id         1000 non-null   object
 9   zip              1000 non-null   object
 10  inspection_date  1000 non-null   object
 11  inspection_type  1000 non-null   object
 12  results          1000 non-null   object
dtypes: object(13)
memory usage: 101.7+ KB

In [14]:
# Change Date and some numeric data columns to appropriate data types
df['license_id'] = df['license_id'].astype(np.int64)
df['inspection_id'] = df['inspection_id'].astype(np.int64)
df['zip'] = df['zip'].astype(int)

# 2 step process to get just date portion and change data type
df['inspection_date'] = pd.to_datetime(df["inspection_date"]).dt.strftime('%Y-%m-%d')
df["inspection_date"] = pd.to_datetime(df["inspection_date"])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   inspection_id    1000 non-null   int64
 1   business_name    1000 non-null   object
 2   aka_name         1000 non-null   object
 3   license_id       1000 non-null   int64
 4   facility_type    1000 non-null   object
 5   risk             1000 non-null   object
 6   address          1000 non-null   object
 7   city             1000 non-null   object
 8   state_id         1000 non-null   object
 9   zip              1000 non-null   int32
 10  inspection_date  1000 non-null   datetime64[ns]
 11  inspection_type  1000 non-null   object
 12  results          1000 non-null   object
dtypes: datetime64[ns](1), int32(1), int64(2), object(9)
memory usage: 97.8+ KB

In [16]:
df.head()

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results
0,2569731,PACIUGO CHICAGO,PACIUGO CHICAGO,2240574,Mobile Food Dispenser,Risk 3 (Low),2324 W GIDDINGS ST,CHICAGO,IL,60625,2023-01-17,Canvass,Out of Business
1,2569739,CREATIVE SCHOLARS PRESCHOOL,CREATIVE SCHOLARS PRESCHOOL,2216013,Children's Services Facility,Risk 1 (High),1731-1735 N ELSTON AVE,CHICAGO,IL,60622,2023-01-17,License,Pass
2,2569645,WILLIAM BROWN ELEMENTARY SCHOOL,WILLIAM BROWN ELEMENTARY SCHOOL,22351,School,Risk 1 (High),54 N Hermitage Ave,CHICAGO,IL,60612,2023-01-13,Canvass,Pass
3,2569682,THAI PASTRY,THAI PASTRY,2713340,Restaurant,Risk 1 (High),4925 N BROADWAY,CHICAGO,IL,60640,2023-01-13,Canvass,Pass
4,2569690,THAI BOWL,THAI BOWL,54665,Restaurant,Risk 1 (High),1049 W TAYLOR ST,CHICAGO,IL,60607,2023-01-13,Canvass Re-Inspection,Pass

### Concat the two datasets and do additional cleanups

In [17]:
food_inspection_df = pd.concat([past_data_renamed, df])
food_inspection_df.head()

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results
0,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601,2010-01-04,Tag Removal,Pass
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass
3,67733,WOLCOTT'S,TROQUET,1992040,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass
4,104236,TEMPO CAFE,TEMPO CAFE,80916,Restaurant,Risk 1 (High),6 E CHESTNUT ST,CHICAGO,IL,60611,2010-01-04,Canvass,Fail

In [18]:
# Inspect count of rows and data type after concatenation of the dataframes
food_inspection_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173880 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    173880 non-null  int64
 1   business_name    173880 non-null  object
 2   aka_name         171663 non-null  object
 3   license_id       173880 non-null  int64
 4   facility_type    169288 non-null  object
 5   risk             173819 non-null  object
 6   address          173880 non-null  object
 7   city             173787 non-null  object
 8   state_id         173858 non-null  object
 9   zip              173880 non-null  int32
 10  inspection_date  173880 non-null  datetime64[ns]
 11  inspection_type  173879 non-null  object
 12  results          173880 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(2), object(9)
memory usage: 17.9+ MB

In [19]:
# Additional cleanup of the final dataset
# 1. Get count of rows that have result as 'Out of Business' - rows with this value need to be dropped
food_inspection_df[food_inspection_df.results == 'Out of Business'].shape[0]

15326

In [20]:
print(food_inspection_df['results'].value_counts()['Out of Business'])

15326

In [21]:
# Drop the rows - specify inplace=True  (173880 - 15326 should give 158553 with 0 indexing) 
food_inspection_df.drop(food_inspection_df.index[food_inspection_df['results'] == 'Out of Business'], inplace=True)
food_inspection_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158453 entries, 1 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    158453 non-null  int64
 1   business_name    158453 non-null  object
 2   aka_name         156769 non-null  object
 3   license_id       158453 non-null  int64
 4   facility_type    157742 non-null  object
 5   risk             158395 non-null  object
 6   address          158453 non-null  object
 7   city             158377 non-null  object
 8   state_id         158433 non-null  object
 9   zip              158453 non-null  int32
 10  inspection_date  158453 non-null  datetime64[ns]
 11  inspection_type  158452 non-null  object
 12  results          158453 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(2), object(9)
memory usage: 16.3+ MB

In [22]:
# Column risk to be split to risk_rank and risk_category
food_inspection_df[['rank_text', 'risk_rank', 'risk_category']] = food_inspection_df['risk'].str.split(n=-1, expand=True)
#view the splits
food_inspection_df.head(2)

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results,rank_text,risk_rank,risk_category
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass,Risk,1,(High)
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass,Risk,1,(High)

In [23]:
# Remove open and close parenthesis in risk_category using str.replace
food_inspection_df['risk_category'] = food_inspection_df['risk_category'].str.replace('(', '', regex=False)
food_inspection_df['risk_category'] = food_inspection_df['risk_category'].str.replace(')', '', regex=False)
food_inspection_df.head(2)

,inspection_id,business_name,aka_name,license_id,facility_type,risk,address,city,state_id,zip,inspection_date,inspection_type,results,rank_text,risk_rank,risk_category
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass,Risk,1,High
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,Risk 1 (High),5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass,Risk,1,High

In [24]:
# Drop unwanted risk columns (risk and rank_text)
inspection_clean_df = food_inspection_df.drop(['risk', 'rank_text'], axis=1)

# Review new dataframe
inspection_clean_df.head(2)

,inspection_id,business_name,aka_name,license_id,facility_type,address,city,state_id,zip,inspection_date,inspection_type,results,risk_rank,risk_category
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass,1,High
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass,1,High

In [25]:
# Reorder columns to match Postgrestable structure
inspection_clean_df = inspection_clean_df[['inspection_id', 'business_name', 'aka_name', 'license_id', 'facility_type',
                                          'risk_rank', 'risk_category', 'address', 'city', 'state_id', 'zip',
                                          'inspection_date', 'inspection_type', 'results']]
inspection_clean_df.head(2)

,inspection_id,business_name,aka_name,license_id,facility_type,risk_rank,risk_category,address,city,state_id,zip,inspection_date,inspection_type,results
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,1,High,608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass
2,70269,mr.daniel's,mr.daniel's,1899292,Restaurant,1,High,5645 W BELMONT AVE,CHICAGO,IL,60634,2010-01-04,License Re-Inspection,Pass

### Get final value counts and ensure 'Default' for the field is set to blanks or 0 in databse table definition
### (OR) update Nan to appropriate values before exporting data to Postgresql DB

In [26]:
# Check unique values of risk_rank
print(inspection_clean_df['risk_rank'].unique())

['1' '3' '2' nan None]

In [27]:
# Replace nan and None with 0 value and then change data type to INT (replace for zip also)
inspection_clean_df['risk_rank'] = inspection_clean_df['risk_rank'].replace(np.nan, 0)
inspection_clean_df['zip'] = inspection_clean_df['zip'].replace(np.nan, 0)

inspection_clean_df['risk_rank'] = inspection_clean_df['risk_rank'].astype(int)
print(inspection_clean_df['risk_rank'].unique())

[1 3 2 0]

In [28]:
inspection_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158453 entries, 1 to 999
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    158453 non-null  int64
 1   business_name    158453 non-null  object
 2   aka_name         156769 non-null  object
 3   license_id       158453 non-null  int64
 4   facility_type    157742 non-null  object
 5   risk_rank        158453 non-null  int32
 6   risk_category    158378 non-null  object
 7   address          158453 non-null  object
 8   city             158377 non-null  object
 9   state_id         158433 non-null  object
 10  zip              158453 non-null  int32
 11  inspection_date  158453 non-null  datetime64[ns]
 12  inspection_type  158452 non-null  object
 13  results          158453 non-null  object
dtypes: datetime64[ns](1), int32(2), int64(2), object(9)
memory usage: 16.9+ MB

### Bulk insert into postgres table using sqlalchemy

In [29]:
# Create a dictionary for bulk insert
bulk_list = inspection_clean_df.to_dict(orient='records')

In [30]:
pprint(bulk_list[0])

{'address': '608 W BARRY AVE ',
 'aka_name': 'Cafe 608',
 'business_name': 'Cafe 608',
 'city': 'CHICAGO',
 'facility_type': 'Restaurant',
 'inspection_date': Timestamp('2010-01-04 00:00:00'),
 'inspection_id': 52234,
 'inspection_type': 'License Re-Inspection',
 'license_id': 2013328,
 'results': 'Pass',
 'risk_category': 'High',
 'risk_rank': 1,
 'state_id': 'IL',
 'zip': 60657}

In [31]:
# Create sqlalchemy engine using connection string
engine = create_engine(conn_string)
conn = engine.connect()

In [32]:
# Autoload table from database to build metadata
table_name = 'foodinspect'
metadata = sqlalchemy.schema.MetaData(bind=engine)
table_inspect = sqlalchemy.Table(table_name, metadata, autoload=True, autoload_with=engine)

In [33]:
# Verify if table metadata is correct
print(repr(metadata.tables['foodinspect']))

Table('foodinspect', MetaData(bind=Engine(postgresql://postgres:***@localhost:5432/test)), Column('inspection_id', INTEGER(), table=<foodinspect>, primary_key=True, nullable=False), Column('business_name', VARCHAR(length=150), table=<foodinspect>, nullable=False), Column('aka_name', VARCHAR(length=150), table=<foodinspect>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001A114492588>, for_update=False)), Column('license_id', INTEGER(), table=<foodinspect>, nullable=False), Column('facility_type', VARCHAR(length=100), table=<foodinspect>), Column('risk_rank', INTEGER(), table=<foodinspect>), Column('risk_category', VARCHAR(length=20), table=<foodinspect>), Column('address', VARCHAR(length=150), table=<foodinspect>), Column('city', VARCHAR(length=50), table=<foodinspect>), Column('state_id', VARCHAR(length=2), table=<foodinspect>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001A114495408>, for_update=False)), Column('zip', INTEGER(), table=<foodinspect>), Column('inspection_date', DATE(), table=<foodinspect>), Column('inspection_type', VARCHAR(length=150), table=<foodinspect>), Column('results', VARCHAR(length=50), table=<foodinspect>), schema=None)

In [34]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
import time

Session = sessionmaker(bind=engine)

In [38]:
# Bulk Insert the dataframe into the database table (commit changes)

with Session() as session:        
    start_time = time.time()      
    inspection_clean_df.to_sql(table_name, con=conn, if_exists='append', index=False)
    session.commit()
    
    end_time = time.time()

In [41]:
# Query count of rows in table to confirm data was populated
count = 0
count = session.query(table_inspect).count()
print('Count of rows in foodinspect table after df to sql insert: ', count)

Count of rows in foodinspect table after df to sql insert:  158453

In [42]:
# Time taken to insert the rows
print(f"Time taken to insert {count} rows was {end_time - start_time} seconds")

Time taken to insert 158453 rows was 11.343125343322754 seconds

In [43]:
# Explicit Close for safety

session.close()
conn.close()